<!doctype html>
<html ng-app="ticTacToeApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
  <script src="app.js"></script>
  <link rel="stylesheet" href="app.css">
</head>
<body>
<h2>Tic-Tac-Toe</h2>
<div ng-controller="TicTacToeController as ticTacToe">
  <table>
    <tr ng-repeat="row in ticTacToe.board">
      <td ng-repeat="cell in row">
        <button ng-click="ticTacToe.placeAt($parent.$index, $index, ticTacToe.getCurrentPlayer())">{{cell.value}}
        </button>
      </td>
    </tr>
  </table>
  <h3>Next move is player {{ticTacToe.getCurrentPlayer()}}</h3>
  <button ng-click="ticTacToe.restart()">Restart</button>
</div>
</body>
</html>