<!doctype html>
<html ng-app="ticTacToeApp">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.2/angular.min.js"></script>
  <script src="js/tic-tac-toe-board-service.js"></script>
  <script src="js/app.js"></script>
  <link rel="stylesheet" href="style/app.css">
</head>
<body>
<h2>Tic-Tac-Toe</h2>
<div ng-controller="TicTacToeController as ticTacToe">
  <table class="tic-tac-toe__board">
    <tr ng-repeat="row in ticTacToe.board">
      <td ng-repeat="cell in row">
        <button class="tic-tac-toe__cell"
                ng-click="ticTacToe.placeAt($parent.$index, $index, ticTacToe.getCurrentPlayer())"
                ng-disabled="cell.value || ticTacToe.hasEnded()">
          {{cell.value}}
        </button>
      </td>
    </tr>
  </table>
  <h3>Next move is player {{ticTacToe.getCurrentPlayer()}}</h3>
  <button class="tic-tac-toe__action-button" ng-click="ticTacToe.restart()">Restart</button>
</div>
</body>
</html>